<div class="post">
  <div class="header">
    <H1>Post title</H1>
    <button routerLink="/" class="btn btn-link">On Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <Small>date</Small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur repellat
      ea earum laboriosam ut ratione dolorum accusamus harum saepe maiores.
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur repellat
        ea earum laboriosam ut ratione dolorum accusamus harum saepe maiores.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur repellat
        ea earum laboriosam ut ratione dolorum accusamus harum saepe maiores.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur repellat
        ea earum laboriosam ut ratione dolorum accusamus harum saepe maiores.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur repellat
        ea earum laboriosam ut ratione dolorum accusamus harum saepe maiores.
      </p>
  </div>
</div>
